<img class="faceImg"
    src="../images/jack_spades.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'spades'">
<img class="faceImg"
    src="../images/jack_hearts.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'hearts'">
<img class="faceImg"
    src="../images/jack_clubs.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'clubs'">
<img class="faceImg"
    src="../images/jack_diamonds.png"
    alt="Jack"
    ng-if="rank === 'J' && suit === 'diamonds'">

<img class="faceImg"
    src="../images/queen_spades.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'spades'">
<img class="faceImg"
    src="../images/queen_hearts.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'hearts'">
<img class="faceImg"
    src="../images/queen_clubs.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'clubs'">
<img class="faceImg"
    src="../images/queen_diamonds.png"
    alt="Queen"
    ng-if="rank === 'Q' && suit === 'diamonds'">

<img class="faceImg"
    src="../images/king_spades.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'spades'">
<img class="faceImg"
    src="../images/king_hearts.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'hearts'">
<img class="faceImg"
    src="../images/king_clubs.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'clubs'">
<img class="faceImg"
    src="../images/king_diamonds.png"
    alt="King"
    ng-if="rank === 'K' && suit === 'diamonds'">
